.wrapper{
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10%;
}

.input-text{
    width: 830px;
    height: 100px;
    margin-bottom: 10px;
}

.little-btn{
    width: 50px;
    height: 50px;
    border: solid .5px grey;
    border-radius: 5px;
}

.dark-btn{
    border: solid .5px grey;
    border-radius: 5px;
}

.backspace-btn{
    width: 135px;
    height: 50px;
}

.del-btn{
    width: 60px;
    height: 50px;
}

.tab-btn{
    width: 70px;
    height: 50px;
}

.caps-btn{
    width: 95px;
    height: 50px;
}

.ent-btn{
    width: 89px;
    height: 50px;
}

.left-shift-btn{
    width: 115px;
    height: 50px;
}

.arrow-btn{
    width: 50px;
    height: 50px;
}

.right-shift-btn{
    width: 123px;
    height: 50px;
}

.ctrl-btn{
    width: 70px;
    height: 50px;
}

.alt-btn{
    width: 50px;
    height: 50px;
}

.win-btn{
    width: 50px;
    height: 50px;
}

.space-btn{
    width: 364px;
    height: 50px;
}